@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background: url(imagens/fundo.png);
    justify-content: center;
    flex-wrap: wrap;
}

  
main.container {
    display: flex;
    flex-direction: column;
    width: 903px;
}

header#foto-bella {
    margin-top: 10px;
    height: 389px;
    border: 1.5px solid #b4b39c;
}

nav#menu {
    display: flex;
    height: 80px;
    padding: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #D4D3BE;
    border: 1px solid #b4b39c;
}

nav#menu a {
    margin: 0px 15px 0px 15px;
    padding: 8px;
    text-decoration: none;
    color: #797864;
    font-weight: bold;
}

nav#menu a:hover {
    background-color: #706f61;
    color: white;
    border-radius: 10px;
}
section#texto {
    background-color: #f0efdb;
    padding: 10px;
    text-align: justify;
    line-height: 1.5em;
    color: #797864;
}

section#texto > h3 {
    margin: 10px 0px 10px 0px;
}

body footer {
    width: 100vw;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

img.book-annabella {
    width: 883px;
    border: 3px solid #afae96;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
    margin-bottom: 20px;
}

img.book-annabella1 {
    width: 883px;
    border: 3px solid #afae96;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
    margin-bottom: -5px;
}